#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    color: white;
    background-color: rgb(170,170,170);
    padding-left: 1em;
}

#topbar input {
    height: 30px;
    margin-top: 10px;
    border-width: 0px;
    padding-left: 5px;
    background-color: rgb(200,200,200);
    font-weight: bold;
    font-size: 12pt;
}

input.angry {
    color: red;
}

#topbar input:focus {
    background-color: white;
}

#topbar #vote {
    position: fixed;
    right: 0px;
    top: -7px;
}

#topbar #vote a img {
    border-width: 0px;
}

#topbar #irc {
    position: fixed;
    right: 150px;
    top: 15px;
    font-weight: bold;
}

#topbar #vs {
    margin: auto;
    margin-top: -25px;
    padding-left: 140px;
    width: 400px;
    font-weight: bold;
}

#topbar #vs span.vs {
    margin-left: 1em;
    margin-right: 1em;
    color: rgb(200,50,50);
}

#topbar #vs span.black {
    color: rgb(50,50,50);
}

#topbar #vs span.white {
    color: white;
}

#topbar #vs span.empty {
    color: rgb(150,255,150);
}

#errorbar {
    position: fixed;
    display: none;
    top: 4px;
    left: 250px;
    height: 40px;
    width: 600px;
    margin: auto;
}

#errorbar #notify {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
}

#toggle-mode {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 64px;
    height: 64px;
    font-weight: bold;
    color: white;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#toggle-topside {
    position: fixed;
    bottom: 20px;
    left: 104px;
    width: 64px;
    height: 64px;
    font-weight: bold;
    color: white;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#games {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    padding-bottom: 50px;
}

#boards {
    display: none;
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    background-color: rgb(220,220,220);
}

