#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    color: white;
    background-color: rgb(170,170,170);
    padding-left: 1em;
}

#topbar input {
    height: 30px;
    margin-top: 10px;
    border-width: 0px;
}

#topbar input[type='text'] {
    padding-left: 5px;
}

#topbar input[type='submit'] {
    padding-left: 0.5em;
    padding-right: 0.6em;
    background-color: rgb(250,50,50);
    font-weight: bold;
    color: white;
}

#topbar #vote {
    border-width: 0px;
    position: fixed;
    right: 0px;
    top: -7px;
}

#games {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    padding-bottom: 50px;
}
